

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

body {
	background: #5C6B52;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

.bannerSection2 {
	position: relative;
	min-height: 720px;
	width: 85%;
	background: #161415 url(../images/portfolio/Background.png) no-repeat top center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: bottom;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: left;
}
.verticalNames {
	text-shadow: 0px 1px 3px rgb(0 0 0 / 80%);
	font-family: Butler-UltraLight;
	text-transform: uppercase;
	color: #EBEEEE;
	font-size: 60px !important;
	text-align: center !important;
	margin-bottom: 30px;
}
header .banner-text { width: 100%; }
	header .banner-text h1 {
		font: 120px/1.1em;
		color: #EBEEEE;
		margin: 600px auto 18px auto;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
		font-family: Butler-UltraLight;
		letter-spacing: 0.1em;
	}
	header .banner-text h3 {
		font: 18px/1.9em 'librebaskerville-regular', serif;
		color: #A8A8A8;
		margin: 0 auto;
		width: 70%;
		text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
		font-family: Butler-UltraLight
	}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
	header .banner-text hr {
		width: 60%;
		margin: 18px auto 24px auto;
		border-color: #2F2D2E;
		border-color: rgba(150, 150, 150, .1);
		font-family: Butler-UltraLight;
		color: #E1B24C;
	}


/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
	font: 12px 'opensans-bold', sans-serif;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
	font-family: Butler-UltraLight;
}
.opaque {
	background-color: #5B6551;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;
   text-align: right;
   padding-right:10%;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;

}

/* Links */
	ul#nav li a {
		/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

		display: inline-block;
		padding: 8px 13px;
		line-height: 32px;
		text-decoration: none;
		text-align: right;
		color: #E1B24C;
		-webkit-transition: color .2s ease-in-out;
		-moz-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
		float:right;
	}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #fff; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
	background: #b28063;

}

.bannerSection {
	background-color: #5B6551;
	min-height: 720px;
	width: 15%;
	color: #E1B24C;
}

.FirstHalf {
	background-color: #5B6551;
	min-height: 720px;
	width: 50%;
}
.SecondHalf {
	width: 50%;
	background-color: #AAB192;
	min-height: 727px;
}
.OurStoryHeader {
	text-align: left;
	color: #E1B24C;
	text-shadow: 0px 1px 3px rgb(0 0 0 / 80%);
	font-family: ButlerStencil-UltraLight;
	letter-spacing: 0.1em;
	margin-top: 4rem;
	margin-left: 8rem;
}
.OurStoryHr {
	width: 25%;
	margin-left: 8rem;
	height: 1.5px;
	background-color: #E1B24C;
	border: none;
}
.OurStoryTextHr {
	width: 6%;
	height: 1.5px;
	background-color: #E1B24C;
	border: none;
	margin-left:50%
}
.OurStoryText {
	text-align: left;
	color: #E1B24C;
	font-family: Butler-UltraLight, sans-serif;
	letter-spacing: 0.1em;
	margin: 2rem;
	margin-top: 3rem;
	margin-left: 8rem;
	font-weight: lighter;
	text-decoration: none;
	text-indent: 4rem;
	margin-bottom: 3rem;
}

.OSPcolumn{
	margin-top:4rem;
}
#OSP1 {
	height: 280px;
	margin-left: 10%;
	border-radius: 1rem;
}

#OSP3 {
	height: 200px;
	margin-bottom:40px;
	margin-right: 3rem;
	margin-left: 0px !important;
	border-radius: 1rem;
}
#OSP5 {
	height: 280px;
	margin-right: 4rem;
	border-radius: 1rem;
}


	#about a, #about a:visited {
	color: #fff;
}
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}






/* ------------------------------------------------------------------ */
/* d. Calendar Section
/* ------------------------------------------------------------------ */

#calendar {
	background: #ccd0bd;
	padding-top: 90px;
	padding-bottom: 90px;

}

#calendar a, #calendar a:visited  { color: #11ABB0; }
#calendar a:hover, #calendar a:focus { color: #313131; }

.ItineraryDate {
	text-shadow: 0px 1px 3px rgb(0 0 0 / 80%);
	font: 18px/24px 'opensans-light', sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #EBEEEE;
	margin-bottom: 6px;
	font-size: 38px !important;
	line-height: 42px !important;
}
#calendar h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}
.location{
	text-align:center;
	width:65%;
}
#VenueLogo{
margin-right:8%;
height:100px;
}
.itinerary{
	margin-top:4rem;	          
}

.event{
	margin-bottom: 10px;
}

#calendar p.lead {
	font-family: opensans-light, monospace, sans-serif !important;
	letter-spacing: 0.1em;
	line-height: 1.8 !important;
	color: #313131;
	padding-right: 3%;
	margin-top: 2%;
	font-size: xx-large;
}
#calendar li {
	margin-top: 0rem;
	font-family: opensans-light, monospace, sans-serif !important;
	letter-spacing: 0.1em;
	line-height: 2.6!important;
	color: #313131;
}
.itinerarySchedule {
	letter-spacing: 0.1em;
	font-size: x-large;
	color: #000000;
	text-align: left;
}
#calendar .header-col { padding-top: 9px; }
#calendar .main-col { padding-right: 10%; }



/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
	background: #AAB192;
	padding-top: 90px;
	padding-bottom: 60px;
}
#portfolioHr {
	width: 20%;
	margin-left: 40%;
	background-color: black;
	border: none;
	height:1px;
}
	#portfolio h1 {
		font: 60px 'opensans-light', sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: 8px;
		color: black;
	}
#portfolio h2 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: black;
}

/* Portfolio Content */
#portfolio-wrapper .columns {
	margin-bottom: 20px;
}
.projectsCategory {
	margin: 0px !important;
	font-family: opensans-light, monospace, sans-serif !important;
	letter-spacing: 0.1em;
	line-height: 1.8 !important;
	color: #313131;
	font-size:xx-large;
	text-align:center;
}
.portfolio-item .item-wrap {
	background: #fff;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 12rem;
	border-radius: 5px;
}
	.portfolio-item .item-wrap a {
		display: block;
		cursor: pointer;
		height: 4rem;
	}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 4rem;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
   background: url(../images/overlay-bg.png) repeat;
   border-radius:5px;

}
.portfolio-item .item-wrap .link-icon {
   display: block;
   height: 30px;
   width: 30px;
   font-size: 10px;
   line-height: 30px;
   text-align: center;
   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}
.portfolio-item .item-wrap img {
   vertical-align: bottom;
}
.portfolio-item .portfolio-item-meta { padding: 18px }
.portfolio-item .portfolio-item-meta h6 {
   font: 15px 'opensans-bold', sans-serif;
   text-align: center;
}
.portfolio-item .portfolio-item-meta p {
   font: 10px 'opensans-light', sans-serif;
   margin-bottom: 0;
   color: black;
}
.reccomendationIcon{
	height: 3rem;
	margin-left: 38%;
}
/* on hover */
.portfolio-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	background-color: #fff;
	height: 16rem;
}
.portfolio-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}


/* ------------------------------------------------------------------
/* g. Announcements
/* ------------------------------------------------------------------ */

#announcements {
	background: #ccd0bd;
	padding-top: 96px;
	color: #212121;
	padding-bottom:135px;
}
#announcements h2 {
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #212121;
	text-align: center;
}
	#announcements h1 {
		text-align: left;
		color: #212121;
		text-shadow: 0px 1px 3px rgb(0 0 0 / 80%);
		font-family: opensans-light, monospace, sans-serif;
		letter-spacing: 0.1em;
		margin-top: 4rem;
		text-transform: uppercase;
		font-size: 90px;
		margin-bottom: 10rem;
		line-height:normal;
	}
.registryText {
	margin-top: 0rem;
	font-family: opensans-light, monospace, sans-serif!important;
	letter-spacing: 0.1em;
	line-height: 2!important;
}
#TargetLogo{
height: 50px;
margin-top:4rem;
float:left;
}
#WorldMarketLogo {
	height: 100px;
}
#EtsyLogo {
	height: 80px;
	float:right;
	margin-top:2rem;
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
	background: #AAB192;
	padding-top: 96px;
	padding-bottom: 60px;
	color: #636363;
}
#contact .section-head { 
	margin-bottom: 42px; }

#contact a, #contact a:visited  { color: #11ABB0; }
#contact a:hover, #contact a:focus { color: #fff; }

	#contact h1 {
		text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
		font-family: Butler-UltraLight;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #EBEEEE;
		margin-bottom: 6px;
		
	}
#contact h1 span { display: none; }
#contact h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   color: #ebeeee;
}

#contact h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
	#contact p.lead {
		font-family: opensans-light, monospace, sans-serif !important;
		letter-spacing: 0.1em;
		line-height: 1.8 !important;
		color: #313131;
		padding-right: 3%;
		margin-top: 2%;
		font-size: xx-large;
	}
.RSVPHead {
	margin-top: 6rem!important;
}
.rsvptitle {
	margin-top: 0rem;
	font-family: opensans-light, monospace, sans-serif !important;
	letter-spacing: 0.1em;
	color: #313131;
	font-size: 90px;
	margin-bottom: 10rem;
}
	.RSVPHr{
		width:8%;
		height:2px;
		text-align: center;
	}
#contact .header-col {
	font-family: Butler-UltraLight;
	letter-spacing: 0.1em;
	text-align: left;
	padding-top: 6px;

}

.rsvpQs {
	letter-spacing: 0.1em;
	font-size: x-large;
	color: #000000;
	text-align: left;
}
li {
	margin-top: 0rem;
	font-family: opensans-light, monospace, sans-serif !important;
	letter-spacing: 0.1em;
	line-height: 1.8 !important;
	color: #313131;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

.responsive-headline {
	margin-bottom: 0px;
}